<!DOCTYPE html>
<html>
<script src="https://cdn.freecodecamp.org/testable-projects-fcc/v1/bundle.js"></script>

<style>
html,
body {
  display: block;
  margin-top: 50px;
  margin-bottom: 50px;
  margin-left: 50px;
  margin-right: 50px;
  font-family: "Lucida Console", Monaco, monospace;
  text-align: center;
  min-width: 260px;
  color: #00000f;
  background-image: url("https://asegrad.tufts.edu/sites/default/files/images/programs/GradPrograms_Dept-CS_LandingPage.jpg");
}

img {
  max-width: 100%;
  display: block;
  height: auto;
  margin: auto;
}

#img-div {
  margin: -5px;
  margin-top: 20px;
  width: 100%;
  border: 5px solid white;
  background: white;
  max-width: auto;
}
#img-caption {
  text-align: center;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin: auto;
  width: 10%;
}

p {
  max-width: auto;
  margin-top: auto;
  margin-bottom: auto;
  margin-right: auto;
  margin-left: auto;
  text-align: justify;
  display: block;
  font-size: 17px;
  text-indent: 3%;
}
h1 {
  text-align: center;
}
h4 {
  text-align: justify;
}
h2 {
  text-align: center;
}
ul {
  text-align: justify;
}
#tribute-info {
  text-align: center;
}
#main {
  margin: 30px auto;
  padding: 15px;
  border: 0px solid;
  border-radius: 5px;
  background: #b0c4de;
  display: block;
}

</style>

<body>
  <div id="main">
    <div id="title">
      <h1><strong>Clarence "Skip" Ellis</strong></h1>
    </div>

    <h4 id="tribute-info"><strong>First African American to obtain a PhD in computer science (1969)</strong></h4>

    <div id="img-div"> <a href="https://teachyourselfcs.com/" target="blank"><img id="image" src= 'https://adinkraresearchproject.files.wordpress.com/2016/09/dr-clarence-a-skip-ellis.jpg?w=1000' onmouseout= "this.src= 'https://adinkraresearchproject.files.wordpress.com/2016/09/dr-clarence-a-skip-ellis.jpg?w=1000'" onmouseover= "this.src= 'https://adinkraresearchproject.files.wordpress.com/2016/09/dr-clarence-a-skip-ellis.jpg'" alt="Clarence 'Skip' Ellis"class="center"> </a>
      <p id="img-caption">1943 - 2014</p>
    </div>
    <br>
    <article id="article">
      <div>
        <h2 id="Childhood"><strong>Childhood</strong></h2>

        <div>
          <p>Clarence Arthur Ellis is the first African American to earn a Ph.D. in computer science. Although he was introduced to computers by accident, he developed a passion for understanding how they work, and he dedicated his career to improving how
            they function. Ellis worked as a computer science researcher for some of the country’s leading technological firms, while working at the University of Boulder, where he continued to pursue his research agenda, as well as teach new generations
            of computer scientists. Known among his friends and associates as "Skip", he was born in 1943 and grew up in a very poor neighborhood of the south side of Chicago. His mother struggled to raise five children by herself. Gangs and violence
            were common in school. Ellis wasn't one of the "cool" kids - he mostly kept to himself. At the time, he was sad because he felt excluded from so many things. Surprisingly, this helped him because he was able to avoid the gangs, violence and
            problems some kids in his class got into.</p>
        </div>
        <br>
        <div>
          <h2 id="Discovering computers by accident" id="title"><strong>Discovering computers by accident</strong></h2>
          <div>
            <p>At 15, Skip took a job at a local insurance company to help support his family. He was assigned the "graveyard shift," which meant he had to work all night long. His job was to prevent break-ins and, most importantly, not to touch the company's
              brand new computer! It was 1958, and computers were very expensive, not very common, and they were also quite large, since microcircuits had not yet been invented. Ellis was not allowed to touch the new computer, but he did have access to
              all of the computer’s operating manuals and lots of free time. So, he read them all, and became a self-taught computer expert. One day, there was a computing crisis at the company,because they had an urgent project but had run out of new
              punch cards.At that time, data was entered into computers using punch cards. The computer technicians at the insurance company were in the middle of an important project when they ran out of them. No one knew how to fix the problem, except
              for Ellis, since one of the things he had learned form his late-night reading was how to reuse old punch cards. Hence, he changed some settings on the computer and the old cards worked perfectly. He was a hero for a day! This was his first
              real experience with a computer and it changed his life. Ellis had not only made a good impression at work, but he had also taken his first step toward a career in computer science.</p>
          </div>
          <br>
          <div>
            <h2 id="Going to college"><strong>Going to college</strong></h2>
            <div>

              <p>Over the next couple of years, teachers recommended that Skip attend summer programs at local universities. For the first time, Skip met students outside of his neighborhood and became aware of university life. Skip's family couldn't afford
                to send him to college. But, as he was about to graduate from high school, the pastor in his family's church learned about a scholarship at Beloit College. Beloit is located in Wisconsin, about 100 miles northwest of Chicago. Skip won
                the scholarship and, in the fall of 1960, arrived on campus. He discovered that he was the only African-American attending the school! Life in south Chicago was hard, but this was much worse. He felt very alone. He soon learned that his
                classes were much more difficult than any of those at his high school. Everyone seemed smarter, more aware and better educated.</p>
              <br>
              <p>
                At Beloit, a teacher gave Ellis extra lessons in the subjects that he was finding the most difficult, such as English. He studied constantly and had no time to do many of the fun things that other students seemed to enjoy. He even stayed on campus to
                study during winter and summer breaks. Skip was so sad and lonely that he thought about quitting many, many times. But he knew how proud his mother was of his accomplishments. She had constantly encouraged him, saying, "be your own person
                and follow your talents." He vowed to stay.
              </p>
              <br>
              <p>
                At the beginning of his junior year, an Illiac IV Parallel Computer was donated to the college. Skip and his chemistry professor were given the task of setting it up. This was the start of the college's computer lab, and it was a big event in Skip's life
                - he finally felt like he belonged. He worked so long on the new computer that he sometimes slept overnight in the lab.</p>
              <br>
              <br>
              <div>
                <a href="http://www.flickr.com/photos/44124348109@N01"><img src="http://ideonexus.com/wp-content/uploads/2010/02/illiac4.jpg"  width="425" height="341" alt="Illiac IV Parallel Computer"></a><br />
                <b>Illiac IV Parallel Computer</b><br /> Credit: <a href="http://www.flickr.com/photos/44124348109@N01">Steve Jurvetson</a>
              </div>
              <br>
              <br>
              <p>During that period, the civil rights movement was gathering momentum across the country. Skip was especially moved by the non-violent protests of Dr. Martin Luther King. In August of 1963, Skip was one of 250,000 people who went to Washington,
                D.C., to hear Dr. King give his famous "I Have a Dream" speech from the steps of the Lincoln Memorial. From then on, Skip's passions were computer science and civil rights.</p>
              <br>
              <p>In 1964 Ellis graduated with a Bachelor of Science degree in math and physics, but he really wanted to pursue a career in computer science.</p>
              <br>
              <div>

                <h2 id="Graduate-School-and-research"><strong>Graduate school and research</strong></h2>
                <div>
                  <p>Ellis decided to go to graduate school to learn more about computers. Few people encouraged him to pursue an advanced degree. “People put together an image of what I was supposed to be,” Ellis told Lydia Lum of Black Issues in Higher
                    Education in February of 2000, "and that image did not include computer scientist". However, Ellis did not want to fit into a stereotypical mold, so he followed his passion. He attended graduate school at the University of Illinois
                    in Urbana-Champaign. There he had the opportunity to work with the hardware and software of the Illiac IV. In 1969 Ellis became the first African American to earn a Ph.D. in computer science.</p>
                  <br>
                  <p>After graduate school, Ellis’ first job was as a supercomputer researcher for AT&T Bell Telephone Laboratories. Next he worked as a research scientist for Xerox in Palo Alto, California. At this job, Ellis helped create the idea of clicking
                    on a graphic to start a computer program or to issue a command, rather than typing in lines of computer code. This became a defining feature of the Apple computer and it was later incorporated into the Microsoft Windows operating system.
                    The point-and-click feature of computers is so common today that most computer users are unfamiliar with the days when knowing programming code was the only way to work with a computer.</p>
                  <br>
                  <p>
                    Ellis has also worked in computer research and development for IBM, Microelectronics and Computer Technology Corporation, Los Alamos Scientific Labs, and Argonne National Laboratory. He has also held several academic positions at Stanford University,
                    the University of Texas, Massachusetts Institute of Technology, and Stevens Institute of Technology. Ellis even traveled to Taiwan on an American Federation of Information Processing Societies (AFIPS) overseas teaching fellowship.</p>
                  <br>
                  <p>In 1992 Ellis accepted an academic position at the University of Colorado at Boulder where he was a professor of computer science. In that capacity Ellis conducted research in the areas of workflow technology, groupware, cognitive science,
                    object-oriented systems, computer supported cooperative work, and systems design and modeling. In particular, Ellis had worked to establish national standards to make computers more user-friendly. He was also the director of the Collaboration
                    Technology Research group and a member of the Systems Software Laboratory and the Institute for Cognitive Science. In addition, Ellis published several books, and over 100 technical papers and reports, lectured in more than a dozen
                    countries, and was an invited speaker on object oriented systems at the most recent IFIP World Computer Conference. His interests included groupware, coordination theory, object oriented systems, CSCW, office systems, databases, distributed
                    systems, software engineering, world-wide-web (internetworking), systems design and modeling, workflow systems, and humane interfaces to computers.</p>
                  <br>
                  <p>
                    In addition to research, Ellis especially enjoyed teaching introductory computer science courses where he could encourage minority students to explore a variety of career options and challenge their minds. He even helped develop a summer program at the
                    University of Colorado, called Summer Multicultural Access to Research Training (SMART), to provide internships in science and engineering. Ellis hoped that his teaching efforts would make his students’ access into non-traditional
                    fields easier than his experiences.
                  </p>
                </div>
    </article>
    <br>
    <br>
    <div>
      <section class="">"People put together an image of what I was supposed to be, and that image did not include computer scientist"</section>
      <br>
      <br>
      <p id="clarence"><a href="https://github.com/ossu/computer-science" id="tribute-link" target="_blank">Clarence "Skip" Ellis</a></p>
    </div>
    <br>
    <br>
    <br>
    <hr>
    <p> Code (to be continued) by <a href="https://twitter.com/JSforbreakfast" target="_blank">Vitor Emanuel</a></p>
    <br>
    <br>
    <div id="references">
      <h4>Pages visited:</h4>
      <ul>
        <li><a href="https://adinkraresearchproject.wordpress.com/about/" target="blank">Adinkra Research Project,</a></li>
        <li><a href="https://blackamericaweb.com/2014/12/01/little-known-black-history-fact-dr-clarence-skip-ellis/">Little Known Black History Fact: Dr. “Clarence” Skip Ellis,</a></li>
        <li><a href="https://www.wikiwand.com/en/Clarence_Ellis_(computer_scientist)" target="blank">Clarence Ellis (computer scientist),</a></li>
        <li><a href="https://cs.illinois.edu/news/memory-clarence-skip-ellis-1943-2014" target="blank">In memory of Clarence "Skip" Ellis, 1943-2014,</a></li>
        <li><a href="http://www.math.buffalo.edu/mad/computer-science/ellis_clarencea.html">Computer scientists of the African Diaspora,</a></li>
        <li><a href="https://www.hpc-diversity.ac.uk/faces-of-hpc/clarence-skip-arthur-ellis" target="blank">Faces of HPC, and</a></li>
        <li><a href="https://www.encyclopedia.com/education/news-wires-white-papers-and-books/ellis-clarence-1943" target="blank">Ellis Clarence A. 1943–2014.</a></li>
      </ul>
    </div>
    </footer>
    </div>
    </div>
</body>

</html>
