* {
    box-sizing: border-box;
    font-family: '8BITWONDERNominal';
}

body {
    background: linear-gradient(to bottom left, #51e600,#421ace);
 }

.insidebody {
    margin: 0 auto;
    max-width: 80%;
  }

#description {
    color: whitesmoke;
    text-align: center;
}

footer {
    color: whitesmoke;
    text-align: center;
}


#title {
    color: whitesmoke;
    text-align: center;
}

#title h1 {
    margin-bottom: 0;
}

form {
    padding: 5%;
    background-color: #adabbb;
    margin-bottom: 5%;
    border-radius: 25px;
    padding: 5rem;
  color:#421ace;
}

input {
    display: box;
    margin-bottom: 1rem;
  }

label {
    display: box;
    margin-bottom: 1rem;
    margin-top: 1rem;
  }

button {
    display: box;
    margin-bottom: 1rem;
  }

#radio {
  display: inline;
  margin-bottom: 1.5rem;
  margin-right: 1rem;
}

#checkbox {
  display: inline;
  margin-bottom: 1.5rem;
  margin-right: 1rem;
}

select {
    background: whitesmoke;
    color: #747474;
}

label {
    font-weight: bolder;
}

textarea {
    width: 100%;
    padding: 2%;
    outline: none;
    font-size: 1rem;
    margin-bottom: 10px;
    height: 150px;
    border-radius: 8px;
}

button {
    border-radius: 50px;
    padding: 1.5% 6% 1.5% 6%;
    border: 1px solid gray;
    color: #747474;
}

input[type="text"],
input[type="email"],
input[type="number"],
select {
    width: 100%;
    padding: 1.5% 2% 1.5% 2%;
    outline: none;
    border: 1px solid grey;
    border-radius: 50px;
}

.names input[type="text"] {
    display: inline;
    width: 40%;
    float: center;
   margin-right: 2%;
   margin-left: 2%;
}

footer {
    font-size: small;
    margin-bottom: 4%;
}

ul {
    list-style: none;
    margin-left: -5%;
}


@media only screen and (max-width: 800px) {
    .page {
        max-width: 70%;
    }

    ul {
        margin-left: -8%;
    }

    .names input[type="text"] {
        width: 100%;
    }

    
    }
input[type="text"],
input[type="email"],
input[type="number"],
select {
    padding: 1.5% 3% 1.5% 3%;
}
}

@media screen and (max-width: 500px) {
    .page {
        max-width: 90%;
    }

    ul {
        margin-left: -10%;
    }


}