html,
body {
  font-family: 'Lato', sans-serif;
  text-align: center;
  background-color: #2e2e2e;
  color: #FFF;
  -webkit-font-smoothing: antialiased;
}

* {
  margin: 0;
  padding: 0;
  }

.intro {
  top: 0;
  background: #d7d7d7;
  min-height: 55vh;
  padding-top: 45vh;
  color: #2e2e2e;
}

.intro p {
  color: blue;
}

nav ul {
  text-align: center;
  position: fixed;
  width: 100%;
   background-image: url("https://s3.amazonaws.com/spoonflower/public/design_thumbnails/0351/1757/Pixel_Fabric_Black_shop_preview.png");
}

nav ul li {
  display: inline-block;
  margin: 60px;
  margin-bottom: 20px;
  margin-top: 25px;
  }

nav ul li a {
  background-color: #D6D6D6;
  border:blue 0.1em;
  color: blue;
  padding: 0.1em 0.2em;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

nav ul li a:hover {
  color: #d5d5d5;
  background-color: blue;
}

.work {
  padding-top: 60px;
  margin-top: -60px;
}

.work .work-header {
  margin-top: 50px;
  color: #d7d7d7;
  font-weight: normal;
}

.project {
  text-decoration: none;
  color: #d7d7d7;
  display: inline-block;
  overflow: hidden;
  border: 2px solid blue;
  height: 220px;
  width: 280px;
  margin: 40px 100px;
}

.project-pic {
  width: 100%;
  height: 180px;
  border-bottom: 2px solid blue;
}

.project-title {
  font-weight: bold;
}

.show-all {
  text-decoration: none;
  display: block;
  width: 200px;
  height: 30px;
  margin: 20px auto 90px;
   background: #cecece;
  color: blue;
  font-weight: bold;
  font-size: 1em;
  border: 2px solid blue;
  border-radius: 4px;
  cursor: pointer;
  padding-top:10px;
}

.show-all:hover {
  background: blue;
  color: #cecece;
}

@media only screen and (max-width: 500px) {
  nav ul {
    text-align: center;
  }
  nav ul li {
    margin: 20px;
  }
  .project {
    margin: 40px 0;
  }
}

.footer-social-icons {
  display:block;
  margin: 0 auto;
  background: #d4d4d4;
  padding-top:50px;
  padding-bottom: 50px;
  text-align: center;
  font-size: 1.5em;
  width: 100%;
  text-align: center;
  text-decoration: none;
   }


@import url(https://fonts.googleapis.com/css?family=Lato);
@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css);

a {
    text-decoration: none;
    color: White;
}
p > a:hover{
    color: #d9d9d9;
    text-decoration:  underline;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin:  1% 0 1% 0;
}
._12 {
    font-size: 1.2em;
}
.contact {
    font-size: 1.4em;
    padding:20px;
  color: #2a2b30;
}
ul {
    padding:0;
    list-style: none;
}
.footer-social-icons {
    width: 100%;
    display:block;
    margin: 0 auto;
}
.social-icon {
    color: #d4d4d4;
}
ul.social-icons {
    margin-top: 10px;
}
.social-icons li {
    vertical-align: top;
    display: inline;
    height: 100px;
}
.social-icons a {
    color: #2e2e2e;
    text-decoration: none;
}
.fa fa-github {
    padding:10px 20px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color: #d4d4d4;
}
.fa fa-github:hover {
    background-color: black;
}
.fa-twitter {
    padding:10px 12px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color: #d4d4d4;
}
.fa-twitter:hover {
    background-color: #00aced;
}

.fa-linkedin {
    padding:10px 14px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color: #d4d4d4;
}
.fa-linkedin:hover {
    background-color: #0073a4;
}
