* {
  min-width:290px;
    color: lightgray;
    background-color: black;
    font-family: 'Open Sans',Arial,sans-serif;
    line-height: 1.5;
}

#navbar {
  position:fixed;
  min-width:290px;
  top:0px;
  left:0px;
  width:300px;
  height:100%;
  border-right:solid;
  border-color:lightgray;
}

header{
  color:lightgray;
  font-size: 30px;
  margin: 5px;
  text-align:center;
  font-size:1.8em;
  font-weight:thin;
}

#main-doc header{
  text-align:left;
  margin:0px;
}

#navbar ul{
  height:88%;
  overflow-y:auto;
  overflow-x:hidden;
}

#navbar li {
  color: lightgray;
  border:1px solid;
  border-bottom-width:0px;
  padding:8px;
  padding-left:45px;
  list-style: none;
  position:relative;
  left: -50px;
  width:100%;
}

#navbar a{
  color: lightgray;
    text-decoration:none;
    cursor:pointer;
} a
