* {
    margin: 0;
    padding: 0;
    font-family: '8BITWONDERNominal'; 
   font-weight: normal; 
   font-style: normal; 
    background-color: rgb(50, 0, 55);
    color: rgb(115, 185, 210);
  }

/*css code below for mobile versions*/
  .wrapper {
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: repeat(9, 1fr);
    /*grid-template-areas: 
    ". header header header header header header ."
    ". container container container container conteiner container ."
    ". GamePic GamePic GamePic GamePic GamePic GamePic ."
    ". . form form form form . .";*/
    grid-gap: 5%;
  }

  .header {
    grid-area: header;
    grid-column: 5/9;
    grid-row: 1/9;
    max-width: 100%;
    height: 1em;
    position: sticky;
    top: 0;
    padding: 1rem;
    background-color: white;
              }


.nav-bar {
    grid-column: 5/9;
    grid-row: 1/9;
    display: flex;
    flex-wrap: wrap;
    width: auto;
    margin: 0;
    background-color: transparent;
    justify-content: space-evenly;
    background-color: blue;
              }

.nav-link {  
    padding: 2rem;
    height: auto;
    font-size: 1rem;
    text-decoration: none;
    color: rgb(115, 185, 210);  
    border-color:rgb(115, 185, 210);
   }

.logo {   
    grid-column: 1/9;
    grid-row: 1/9;
    border-radius: 50%;
    max-width: 5%;
    height: auto;
    margin-left: 1rem;
    padding: 0;
    top: 0;
    justify-self:start;
    background-color: rgb(0, 0, 0);
}

.form {
    grid-area: form;
    grid-column: 5/9 ;
    grid-row: 1/9;
    display: flex;
    flex-wrap: wrap;
    max-width: 1rem;
    height: 1rem;
    justify-self: end;
    padding: 1rem;   
    background-color: red;
}

#email {
    text-align: center;
    padding: 0.5rem;
    height: auto;
    font-size: 0.5rem;
    position: absolute;
    left: 42%;
    top: 85%;
  }
 
#submit {
    text-align: center;
    padding: 0.5rem;
    height: auto;
    font-size: 0.5rem;
    position: absolute;
    left: 45%;
    top: 91%;
}

.container {
    grid-area: container;
    grid-column: 2/9;
    grid-row: 3/9;
    max-width: 80%;
    height: auto;
    font-size:0.5rem;
    text-align: justify;
    text-justify:left;
    padding: 1rem;   
    font-size:1rem
    top:90%;
    background: yellow;
}

#GamePic {
    grid-area: GamePic;
    grid-column: 2/9;
    grid-row: 4/9;
    border-radius: 0%;
    max-width: 60%;
    height: auto;
    margin-left: 1rem;
    padding: 0;
    top: 0%;
    
    
}


  /*css code below for desktop versions*/ 
  @media screen and (min-width: 736px) {
    .wrapper {
      display: grid;
      grid-template-columns: repeat(9, 1fr);
      grid-template-rows: repeat(9, 1fr);
      /*grid-template-areas: 
      ". header header header header ."
      ". container container conteiner container ."
      ". GamePic GamePic GamePic GamePic ."
            ". . form form . .";*/              
      gap: 5%;
    }
    }