<script src="https://cdn.freecodecamp.org/testable-projects-fcc/v1/bundle.js"></script>

<html>
 <style>
   .container {
  width: 500px;
  clear: both;
}

.container input {
  width: 100%;
  clear: both;
}

input:invalid {
  border: 2px solid red;
}

input:valid {
  border: 2px solid green;
}
   </style>
<head>
  <h1 align="center" id="title">Survey Form</h1>
</head>

<body>
  
  <p align="center" id="description">What kind of student are you?</p>
  <form id="survey-form">
     
 
    <label id="name-label">
    <p>* Name:</p> <input type="text" name="name" id="name" class="input-field" placeholder="Enter your name" required>
      <//label>
    <div>
    <label id="email-label">
    <p>* Email:</p> <input type="email" name="email" id="email" class="input-field" placeholder="Enter your email" required>
    </label>
    </div>
    <div>
       
    <label id="number-label">
     
    <p>* Age:</p> <input type="number" name="age" id="number" class="input-field" min="5" max="99" placeholder="Enter your age" required>
       
  </label>
      <div>
     <select id="dropdown" name="currentPos" class="dropdown">
      <option disabled value>Select an option</option>
      <option  value="student">Student</option>
      <option value="job">Always working</option>
      <option value="learner">Always learning</option>
      <option value="preferNo">Get off my business</option>
      <option value="other">Other</option>
    </select>
      </div>
      <select action="">
  <input type="radio" name="gender" value="male"> Male<br>
  <input type="radio" name="gender" value="female"> Female<br>
  <input type="radio" name="gender" value="other"> Other
      </select></div>
      <div>
      <select>
        <form action="/action_page.php">
  <input type="checkbox" name="course1" value="Pluralsight"> I use Pluralsight<br>
  <input type="checkbox" name="course2" value="Codecademy"> I use codecademy<br>
  <input type="checkbox" name="course3" value="FreeCodeCamp" checked> I use FreeCodeCamp<br><br>
  <input type="submit" value="Submit">
</form>
      </select>
         </div>
    <br>
    <div>
    <textarea rows="4" cols="50">

</textarea>
    </div>
  </form>
</body>

</html>
